.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-family: "Quicksand";

  .login {
    width: 500px;
    height: fit-content;

    padding: 18px 28px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 25px;

    &__title {
      display: flex;
      justify-content: center;
      font-weight: 700;
      font-size: 19px;
      line-height: 24px;
      color: #666666;
      margin-bottom: 20px;
    }

    label {
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      color: #333333;

      &::after {
        content: "";
        margin: 10px 20px;
      }
    }

    button {
      padding: 4px 30px;
      background: #2196f3;
      border-radius: 10px;
      width: 100%;
    }
  }
}
